{* PopIn module configuration page *}

{extends file="admin-layout.tpl"}

{block name="after-bootstrap-css"}
    {stylesheets file='assets/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css'}
        <link rel="stylesheet" href="{$asset_url}">
    {/stylesheets}
{/block}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="page-title"}{intl l='PopIn module configuration' d='popin.bo.default'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}view{/block}
{block name="check-module"}PopIn{/block}

{block name="main-content"}
    <div id="wrapper" class="container">

        {if $general_error|default:null}
            <div class="alert alert-danger">
                {$general_error}
            </div>
        {/if}

        <div class="general-block-decorator">
            <div class="">
                <div class="" id="pop_in_campaign-table">
                    <div class="col-md-12">
                        <div class="form-container">
                            <div class="inner-toolbar" style="border:none;">
                                <div class="inner-actions">
                                    <ul class="nav nav-pills">
                                        {loop name="lang_list" type="lang" backend_context="1"}
                                        {$lang_url = {url path={$current_url nofilter} edit_language_id=$ID}}
                                            <li {if $ID == $edit_language_id}class="active"{/if}>
                                                <a class="language-change-button" data-language-id="{$ID}" href="{$lang_url nofilter}" title="{intl l='Edit information in %lng' d="popin.bo.default" lng={$TITLE}}">
                                                    <img src="{image file="assets/img/svgFlags/$CODE.svg"}" />
                                                </a>
                                            </li>
                                        {/loop}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <b class="col-md-3">{intl l='Start' d='popin.bo.default'}</b>
                        <b class="col-md-3">{intl l='End' d='popin.bo.default'}</b>
                        <b class="col-md-2">{intl l='Content' d='popin.bo.default'}</b>
                    </div>


                    {function name='pop_in_campaign_row'}
                        {if $mode == 'edit'}
                            {$form_name = 'pop_in_campaign.update'}
                            {$form_action = {url path='/admin/module/PopIn/pop_in_campaign/edit'}}
                        {elseif $mode == 'create'}
                            {$form_name = 'pop_in_campaign.create'}
                            {$form_action = {url path='/admin/module/PopIn/pop_in_campaign'}}
                        {/if}
                        {$popInCampaignId = $ID}

                        {form name=$form_name}
                        {if $mode == "edit"}
                            {if
                            (($smarty.now|date_format:"%Y%m%d") >= ($START|date_format:"%Y%m%d"))
                            AND
                            (($smarty.now|date_format:"%Y%m%d") <= ($END|date_format:"%Y%m%d"))
                            }
                                <span class="label label-success">{intl l='Active' d='popin.bo.default'}</span>
                            {else}
                                <span class="label label-danger">{intl l='Inactive' d='popin.bo.default'}</span>
                            {/if}
                        {/if}
                            <form method="post" action="{$form_action}" enctype="multipart/form-data" class="panel panel-default">
                                {render_form_field form=$form field="success_url" value={url path='/admin/module/PopIn/'}}
                                {if $ID}
                                    {form_field form=$form field="id"}
                                        <input name="{$name}" type="hidden" value="{$popInCampaignId}">
                                    {/form_field}
                                {/if}
                                {form_hidden_fields form=$form}
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-2 form-group">
                                            {form_field form=$form field="start"}
                                                <div class="input-group">
                                                    <input name="{$name}"
                                                           type="{$type}"
                                                           class="form-control datetime-picker"
                                                           data-date-format="{$label_attr.moment_js_date_format}"
                                                           {if $START|default:null}value="{format_date date=$START format=$label_attr.php_datetime_format}"{/if}>
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            {/form_field}
                                        </div>
                                        <div class="col-md-2 form-group">
                                            {form_field form=$form field="end"}
                                                <div class="input-group">
                                                    <input name="{$name}"
                                                           type="{$type}"
                                                           class="form-control datetime-picker"
                                                           data-date-format="{$label_attr.moment_js_date_format}"
                                                           {if $END|default:null}value="{format_date date=$END format=$label_attr.php_datetime_format}"{/if}>
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            {/form_field}
                                        </div>
                                        <div class="col-md-2 form-group content-source-type-form-group">
                                            {form_field form=$form field="content_source_type"}
                                                <select name="{$name}" class="form-control">
                                                    <option value="" selected></option>
                                                    {foreach $choices as $choice}
                                                        <option value="{$choice->value}"
                                                                {if $CONTENT_SOURCE_TYPE|default:null == $choice->value}selected{/if}>
                                                            {$choice->label}
                                                        </option>
                                                    {/foreach}
                                                </select>
                                            {/form_field}
                                        </div>
                                        <div class="col-md-2 form-group content-source-id-form-group">
                                            {form_field form=$form field="content_source_id"}
                                            {$content_source_id = $CONTENT_SOURCE_ID|default:null}
                                                <div class="content-source-id-field content-source-id-field-default">
                                                    <input name="{$name}" type="text" class="form-control"
                                                           value="{$CONTENT_SOURCE_ID|default:null}">
                                                </div>
                                                <div class="content-source-id-field content-source-id-field-content"
                                                     style="display: none;">
                                                    <select name="{$name}" class="form-control">
                                                        <option value="" selected></option>
                                                        {loop name="pop-in-campaign-content-source-content" type="content"}
                                                            <option value="{$ID}"
                                                                    {if $ID == $content_source_id}selected{/if}>{$TITLE}</option>
                                                        {/loop}
                                                    </select>
                                                    <span class="help-block">{intl l='This content will be displayed in the pop-in.' d='popin.bo.default'}</span>
                                                </div>
                                                <div class="content-source-id-field content-source-id-field-content-image"
                                                     style="display: none;">
                                                    <select name="{$name}" class="form-control">
                                                        <option value="" selected></option>
                                                        {loop name="pop-in-campaign-content-source-content-image" type="content" folder={config key="popin.image_folder_id"}}
                                                            <option value="{$ID}"
                                                                    {if $ID == $content_source_id}selected{/if}>{$TITLE}</option>
                                                        {/loop}
                                                    </select>
                                                    <span class="help-block">{intl l='The first image in this content will be displayed in the pop-in.' d='popin.bo.default'}</span>
                                                </div>
                                                <div class="content-source-id-field content-source-id-field-template"
                                                     style="display: none;">
                                                    <input name="{$name}" type="text" class="form-control"
                                                           value="{$CONTENT_SOURCE_ID|default:null}">
                                                    <span class="help-block">{intl l='This template will be displayed in the pop-in.' d='popin.bo.default'}</span>
                                                </div>
                                                <div class="content-source-id-field content-source-id-field-hook"
                                                     style="display: none;">
                                                    <input name="{$name}" type="text" class="form-control"
                                                           value="{$CONTENT_SOURCE_ID|default:null}">
                                                    <span class="help-block">{intl l='The pop-in.content hook will be called to display the pop-in. The content of this field will be available in the hook.' d='popin.bo.default'}</span>
                                                </div>
                                                <div class="content-source-id-field content-source-id-field-custom"
                                                     style="display: none;">
                                                    <span class="help-block">{intl l='Fill the fields below' d='popin.bo.default'}</span>
                                                </div>
                                            {/form_field}
                                        </div>
                                        <div class="col-md-2">
                                            {form_field form=$form field="persistent"}
                                                <input type="checkbox" name="{$name}" id="{$name}_{$popInCampaignId}" {if $PERSISTENT|default:null === 1}checked{/if}>
                                                <label for="{$name}_{$popInCampaignId}">{intl l="Persistent"}</label>
                                            {/form_field}
                                        </div>
                                        <div class="col-md-2 btn-group">
                                            {if $mode == 'create'}
                                                {loop name="auth-edit" type="auth" role="ADMIN" resource="admin.module" access="CREATE" module="PopIn"}
                                                    <button type="submit"
                                                            class="btn btn-success"
                                                            title="{intl l='Add a campaign' d='popin.bo.default'}">
                                                        {intl l="Create"} <i class="glyphicon glyphicon-plus"></i>
                                                    </button>
                                                {/loop}
                                            {elseif $mode == 'edit'}
                                                {loop name="auth-edit" type="auth" role="ADMIN" resource="admin.module" access="UPDATE" module="PopIn"}
                                                    <button type="submit"
                                                            class="btn btn-info"
                                                            title="{intl l='Edit this campaign' d='popin.bo.default'}">
                                                        <i class="glyphicon glyphicon-floppy-disk"></i>
                                                    </button>
                                                {/loop}
                                                {loop name="auth-delete" type="auth" role="ADMIN" resource="admin.module" access="DELETE" module="PopIn"}
                                                    <a class="btn btn-danger"
                                                       href="{token_url path='/admin/module/PopIn/pop_in_campaign/delete' pop_in_campaign_id=$popInCampaignId}"
                                                       title="{intl l='Delete this campaign' d='popin.bo.default'}">
                                                        <i class="glyphicon glyphicon-trash"></i>
                                                    </a>
                                                {/loop}
                                            {/if}
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    {if $mode === 'edit'}
                                        <div class="row content-source-id-field content-source-id-field-custom" style="display:none;">
                                            <div class="col-md-6 form-group">
                                                {form_field form=$form field="custom_title"}
                                                    <label for="{$name}">{intl l='Title' d='popin.bo.default'}</label>
                                                    <input class="form-control" id="{$name}" name="{$name}" type="{$type}" value="{$CUSTOM_TITLE|default:null}"/>
                                                {/form_field}
                                            </div>
                                        </div>


                                        <a style="display: block; margin-bottom: 2rem;" role="button" data-toggle="collapse" href="#collapse{$popInCampaignId}" aria-expanded="true" aria-controls="collapse{$popInCampaignId}">
                                            {intl l="Voir details" d='popin.bo.default'}
                                        </a>
                                    {/if}

                                    <div id="collapse{$popInCampaignId}" class="panel-collapse {if $mode === 'edit'}collapse{/if}" role="tabpanel">
                                        <div class="row content-source-id-field content-source-id-field-custom" style="display: none;">
                                            <div class="col-md-3 group">
                                                <div class="row">
                                                    <div class="col-md-{if $mode == 'edit' }8{else}12{/if} form-group">
                                                        {form_field form=$form field="custom_image"}
                                                            <label for="{$name}">{intl l='Image' d='popin.bo.default'}</label>
                                                            <input class="form-control"  id="{$name}" name="{$name}" type="{$type}"/>
                                                        {/form_field}
                                                    </div>
                                                    {if $mode == 'edit' }
                                                        <div class="col-md-4">
                                                            {loop type="library_image" name="library_image" item_id=$popInCampaignId item_type="popin" code="main" width="64" height="64"}
                                                                <img src="{$URL}" alt="{$TITLE}">
                                                            {/loop}
                                                        </div>
                                                    {/if}
                                                </div>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                {form_field form=$form field="custom_description"}
                                                    <label for="{$name}">{intl l='Description' d='popin.bo.default'}</label>
                                                    <textarea class="form-control" name="{$name}" id="{$name}" cols="60" rows="5">{$CUSTOM_DESCRIPTION|default:null}</textarea>
                                                {/form_field}
                                            </div>
                                            <div class="col-md-3 group">
                                                <div class="form-group">
                                                    {form_field form=$form field="custom_postscriptum"}
                                                        <label for="{$name}">{intl l='Postscriptum' d='popin.bo.default'}</label>
                                                        <input class="form-control" id="{$name}" name="{$name}" type="{$type}" value="{$CUSTOM_POSTSCRIPTUM|default:null}"/>
                                                    {/form_field}
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 form-group">
                                                        {form_field form=$form field="custom_link"}
                                                            <label for="{$name}">{intl l='Link url' d='popin.bo.default'}</label>
                                                            <input class="form-control" id="{$name}" name="{$name}" type="{$type}" value="{$CUSTOM_LINK|default:null}"/>
                                                        {/form_field}
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        {form_field form=$form field="custom_link_text"}
                                                            <label for="{$name}">{intl l='Link text' d='popin.bo.default'}</label>
                                                            <input class="form-control" id="{$name}" name="{$name}" type="{$type}" value="{$CUSTOM_LINK_TEXT|default:null}"/>
                                                        {/form_field}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-5 form-group">
                                                        {form_field form=$form field="exclude_category_ids"}
                                                            <label for="{$name}">{intl l='Exclude category ids' d='popin.bo.default'}</label>
                                                            <input class="form-control" id="{$name}" name="{$name}" type="{$type}" value="{$EXCLUDE_CATEGORY_IDS|default:null}"/>
                                                            <span class="help-block">{intl l='Ids separeted by commas, all subcategory and product in this category will also be excluded' d='popin.bo.default'}</span>
                                                        {/form_field}
                                                    </div>
                                                    <div class="col-md-5 form-group">
                                                        {form_field form=$form field="exclude_content_ids"}
                                                            <label for="{$name}">{intl l='Exclude content ids' d='popin.bo.default'}</label>
                                                            <input class="form-control" id="{$name}" name="{$name}" type="{$type}" value="{$EXCLUDE_CONTENT_IDS|default:null}"/>
                                                            <span class="help-block">{intl l='Ids separeted by commas' d='popin.bo.default'}</span>
                                                        {/form_field}
                                                    </div>
                                                    <div class="col-md-5 form-group">
                                                        {form_field form=$form field="exclude_folder_ids"}
                                                            <label for="{$name}">{intl l='Exclude Folder ids' d='popin.bo.default'}</label>
                                                            <input class="form-control" id="{$name}" name="{$name}" type="{$type}" value="{$EXCLUDE_FOLDER_IDS|default:null}"/>
                                                            <span class="help-block">{intl l='Ids separeted by commas, all subfolder and content in this folder will also be excluded' d='popin.bo.default'}</span>
                                                        {/form_field}
                                                    </div>
                                                    <div class="col-md-2 form-group">
                                                        {form_field form=$form field="exclude_home"}
                                                            <label for="{$name}_{$popInCampaignId}">{intl l='Exclude from home' d='popin.bo.default'}</label>
                                                            <input class="form-control" id="{$name}_{$popInCampaignId}" name="{$name}" type="checkbox" {if $EXCLUDE_HOME|default:null === 1}checked{/if}/>
                                                        {/form_field}
                                                    </div>
                                                    <div class="col-md-2 form-group">
                                                        {form_field form=$form field="exclude_login_register"}
                                                            <label for="{$name}_{$popInCampaignId}">{intl l='Exclude from login and register' d='popin.bo.default'}</label>
                                                            <input class="form-control" id="{$name}_{$popInCampaignId}" name="{$name}" type="checkbox" {if $EXCLUDE_LOGIN_RGISTER|default:null === 1}checked{/if}/>
                                                        {/form_field}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        {/form}


                    {/function}

                    <div>
                        {loop name="auth-create" type="auth" role="ADMIN" resource="admin.module" access="CREATE" module="PopIn"}
                        {call name='pop_in_campaign_row' mode='create'}
                        {/loop}

                        {loop name="pop-in-campaign-list" type="pop-in-campaign" order=$order|default:null}
                        {$pop_in_campaign_id=$ID}
                        {call name='pop_in_campaign_row' mode='edit'}
                        {/loop}


                    </div>

                    {ifloop rel="pop-in-campaign-list"}
                        <div>
                            {include
                            file           = "includes/pagination.html"
                            loop_ref       = "pop-in-campaign-list"
                            max_page_count = 20
                            page_url       = {url path="/admin/module/PopIn" order=$order|default:null target='pop_in_campaign-table'}
                            }
                        </div>
                    {/ifloop}
                </div>
            </div>
        </div>
    </div>
{/block}

{block name="javascript-initialization"}
    <script type="text/javascript" src="{javascript file='assets/js/moment-with-locales.min.js'}"></script>
    <script type="text/javascript" src="{javascript file='assets/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js'}"></script>

    <script type="text/javascript">
        (function ($) {
            {$langcode = {lang attr="code"}|substr:0:2}

            $('.datetime-picker').datetimepicker({
                locale: "{$langcode}",
                showClear: true,
                sideBySide: true
            });

            function displayContentSourceField($form) {
                var $contentSourceType = $form
                    .find('.content-source-type-form-group')
                    .find('select')
                    .val();
                if ($contentSourceType == '') {
                    $contentSourceType = 'default';
                }

                // hide and disable the fields for all content types
                $form
                    .find('.content-source-id-field')
                    .hide()
                    .find('.form-control')
                    .prop('disabled', true);
                // show and enable the field for the selected content type
                $form
                    .find('.content-source-id-field-' + $contentSourceType)
                    .show()
                    .find('.form-control')
                    .prop('disabled', false);
            }

            $('#pop_in_campaign-table').find('form').each(function () {
                var $form = $(this);
                displayContentSourceField($form);
                $(this)
                    .find('.content-source-type-form-group')
                    .find('select')
                    .on('change', function (event) {
                        displayContentSourceField($(this).parents('form'), true);
                    });
            });
        })(jQuery);
    </script>
{/block}
